#table,table,thead,tbody,th,tr{
	text-align: center;
}

div.dataTables_wrapper {
        width: 100%;
}

.block-arrow{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

 .node circle {
 
  stroke: seagreen;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.desc-text{
	display: none;
    border-radius: 5px;
   

}

@media screen and (min-width: 1200px) {
  #desc-detail{
    position: fixed;
    top:50%;
    height: 350px;
    width: 350px;
    transform: translate(0,-50%);

  }

  .leaf-node{
    font-size: 14px;
    font-weight: bold;
  }
}




#desc-detail .row{
	margin-bottom: 30px;
  font-size: 14px;
}

.hovered{
	display: block;

}

h1 {
    margin-top: 0;
    color: coral;
    font-size: 50px;
}

#main{
	display: none;
}

.main-title .app-name{
  text-align: center;
}
.main-title .app-fund{
  text-align: right;
}