body{
  width: 100%;
}
#header a{
  font-size: 14px;
  text-decoration: none;
}

#header .navbar{
  background-color: #3d4a57;
}



/*TITLE*/
h1 {
    margin-top: 0;
    color: coral;
    font-size: 50px;
}
.main-title{
  margin-top: 35px;
  margin-bottom: 35px
}
.main-title .app-name{
  text-align: center;
}
.main-title .app-fund{
  text-align: right;
}

/*Buttons*/
.analysis-pipeline, .util-buttons {
  max-width: 600px;
}
.analysis-pipeline .row, .util-buttons .row{
  padding: 0 10px;
}
.analysis-pipeline button,.util-buttons button{
  width:100%;

}

#main{
  display: none;
}
#intro-target-container{
  position: absolute;
  top:0;
  left:0;
  background: transparent;
  opacity: 0;
  z-index: 0;
  height: 750px;
  width: 100%;
}

.handle-events {
    pointer-events: none;
    cursor: default;
}

.chart-title div strong{
  color: red;
}

/*FLOW CHART*/

.chart-row{
  overflow-x: auto;
  overflow-y:hidden;
}

#flowchart-wrapper{
  min-width: 900px;
  /*width: 100%;*/
 /* overflow-x: auto;
  overflow-y:hidden;*/
}

#table,table,thead,tbody,th,tr{
  text-align: center;
}


div.dataTables_wrapper {
        width: 100%;
}

.order-frame .block{
  margin-bottom: 65px;
}
.order-frame .block .row{
   position: relative;
}

.order-frame.lastFrame .block {
  margin-bottom: 0;
}

.order-frame .block .block-button{
  
  background-color: white;
    position: relative;

}
.order-frame .block .block-button:hover{
  background-color: blue;
  color:white;
}

.order-frame .block .block-button-selected{
  background-color: blue;
  color:white;
}

.order-frame .block .hassub{
  border-style: dashed;
}

.order-frame .block .hassub-button-selected {
   background-color: blue;
  color:white;
}

.order-frame .block .block-button.sub-button-selected{
  background-color: #17a2b8;
  color:white;
}

.order-frame .block .block-button.sub:hover{
  background-color: #17a2b8;
  color:white;
}

.order-frame .block .block-button .arrowTarget{
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  margin-right: -50%;
   transform: translate(-50%, 0);
  width: 0;
  height: 0;
  opacity: 0;


  
}


#svgContainer { 
  opacity:  0.5;
  margin:   2.5em 2.5em;
  position: absolute;  
}

#svgContainer svg path { 
  fill:   none;
  stroke: #000;
  stroke-width: 0.2em;
   stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash linear;
  animation-fill-mode: forwards;
  animation-duration: 1.0s;
 
}
 @keyframes dash {
 
  to {
     stroke-dashoffset: 0;
  }
}


/*DESKTOP NODE CIRCLE*/
circle.node {
 stroke: seagreen;
 stroke-width: 3px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
circle.node.found {
    stroke: #a2e4a7;
  }
path.link.found{
    stroke: #a2e4a7;
    stroke-width: 4px;
}


.rcr{
  position: relative;
}
.rcr-tooltip{
  visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid black;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
   
}
.rcr:hover .rcr-tooltip{
   visibility: visible;
}

.rcr-tooltip::after{
  content: " ";
   position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}



/*LARGE DESKTOP SCREEN SIZE > 768 px */
@media only screen and (min-width: 768px) {
  
  .tree-intro .row{
    margin-top: 25px;
      margin-bottom: 25px;
  }
  .tree-intro .row > div{
    text-align: center;
  }
  #tree{
    /*  padding-left: 100px;*/
   /* max-width: 1200px;*/
   min-width: 900px;
  }
  .tree-field{
    position : relative;

  }
  
  
  #desc-detail{
   width: 100%;
   height: 100%;
  }
  

  #desc{
   
    max-width: 650px;
    max-height: 1150px;
  }

  .node text{
    cursor: pointer;
  }

  .tree-field-buttons{
    max-width: 1600px;
  }
}
@media only screen and (max-width: 768px){
    .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1px;
  }

  .node text {
  
    pointer-events: none;
   transform: perspective(1px) scale(1.1) translate3d(0,0,0);
  }

  #tree{
  


  }
  #tree svg{
       -webkit-transition: height 0.4s;
    transition: height 0.4s;
  

  }

  /*MOBILE TABLET */
.mobile-selected rect{
  stroke: #4c8c4c;
  stroke-width: 3; 
}

}
@media only screen and (min-width: 1600px) {
#desc{
   
    max-height: 1300px;
  }

}



/*COMMON*/
.tree-info{
  padding-left: 50px;
}

.desc-text{
  display: none;
 
}
#desc-detail .row{
  margin-bottom: 30px;
  font-size: 14px;
}

.hovered{
  display: block;

}

.figure-box{
  padding: 0 10px;
}

#descimg { 
  width:100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#descimg:hover{
  opacity: 0.7;
}

#tooltip-box{
  position: absolute;
  width: 150px;
  font-size: 14px;
  visibility: hidden;
  background-color: lightblue;
  border: 1px solid green; 
  border-radius: 2px; 
  opacity: 0;
  transition: opacity 0.8s ease;
  text-align: center;


}

.table-info-text{
  font-size: 14px;
}

/*MODAL*/
.modal{
   display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.modalclose {
    position: absolute;
    top: 40px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalclose:hover,
.modalclose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
